<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730433467750-q0ukq2p0qnms73pck2saifb6v87vn40i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730433467750-q0ukq2p0qnms73pck2saifb6v87vn40i</string>
	<key>API_KEY</key>
	<string>AIzaSyDG1PAmoKPst8ExETfiSY0qrncnloesjP8</string>
	<key>GCM_SENDER_ID</key>
	<string>730433467750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businessPhoneBook</string>
	<key>PROJECT_ID</key>
	<string>business-phone-book</string>
	<key>STORAGE_BUCKET</key>
	<string>business-phone-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730433467750:ios:1e6ffbe0b02414794484a7</string>
</dict>
</plist>